.content {
  background-color: var(--black);
  font-size: var(--font-size-xll);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-prm);
  color: var(--gray);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  margin-left: var(--margin-m);
  margin-right: var(--margin-m);

  transition: color 0.5s ease-out;
  user-select: none;
}

.content a:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 50%;
  width: calc(100% - 5px);
  border-top-left-radius: var(--border-radius-m);
  border-top-right-radius: var(--border-radius-m);
  background-color: var(--white_light);
}

.content a {
  display: flex;
  padding: var(--margin-s) var(--margin-l);
  color: var(--gray);
}

.content:hover a {
  color: var(--white);
  text-shadow: 0 0 10px var(--white), 0 0 20px var(--white);
  transition: text-shadow 0.5s cubic-bezier(0.04, 0.38, 0.28, 0.15);
}

.content a:visited {
  color: var(--gray);
}

.content a:hover {
  color: var(--white);
}

@media (max-width: 768px) {
  .content {
    box-shadow: none;
    padding: var(--margin-l) var(--margin-xl);
  }

  .content a:before {
    all: unset;
  }
}

