.content {
  margin-top: var(--margin-xl);
}

.title {
  margin-bottom: var(--margin-l);
  margin-left: var(--margin-l);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.1vw;
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    gap: 0;
  }

  .left {
    grid-column: 1;
    grid-row: 1;
  }

  .right {
    display: none;
  }
}
